@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Este site corre um servidor local.</p>
    <p>Por isso nao existem ameaças hidden segurança.</p>
    <p> A maior autoridade de humor num locallost</p>
    <p><img src="~/imagens/trollface.png" /></p>
</div>
